<div class="image-section" style="margin-top:0; display: flex;">
	<div class="row" id="catch-phrase">
		<h3>Eliminate the hassle of listing and showing your home when you sell to Dandy Factory.</h1>
	</div>
	<div class="row" style="position:absolute; clear:both; padding-top:400px; padding-left:150px; padding-right:200px">
  		<div class="col-lg-6" style="position:relative;">
    		<form class="input-group" ng-submit="findAddress()">
      			<input type="text" class="form-control" placeholder="Enter an address" g-places-autocomplete ng-model="address"></input>
      			<span class="input-group-btn">
        			<button class="btn btn-default" type="submit">Get my free offer</button>
      			</span>
    		</form>
  		</div>
	</div>
</div>